<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, tr, th,td{
            border: 1px solid rgb(0, 0, 0);
            border-collapse:collapse;
        }
        
        
    </style>
    <title>States of India</title>
</head>
<body>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date-of-Birth</th>
            <th>Age</th>
            <th>Joining</th>
            <th>Country</th>
        </tr>
        <tr>
            <td>Harikrishnan</td>
            <td>P M</td>
            <td>01-04-2000</td>
            <td>23</td>
            <td>03-07-2023</td>
            <td>India</td>
        </tr>
        <tr>
          <td>Jubiya</td>
          <td>Joseph</td>
          <td>024-08-2000</td>
          <td>23</td>
          <td>03-07-2023</td>
          <td>India</td>
          
        </tr>
        <tr>
          <td>Narayana</td>
          <td>Menon</td>
          <td>19-10-2000</td>
          <td>23</td>
          <td>03-07-2023</td>
          <td>India</td>
            
        </tr>
        
        <tr>
            <td>Ruby</td>
            <td>Susan</td>
            <td>21-12-2000</td>
            <td>23</td>
            <td>03-07dfd-2023</td>
            <td>India</td>
        </tr>
        
        <tr>
          <td>Christina</td>
          <td>Susan</td>
          <td>21-12-2000</td>
          <td>23</td>
          <td>03-07-2023</td>
          <td>Indiaa</td>
        </tr>

    </table>


    
</body>
</html>